.segment-control { margin: 0 auto !important }
.home-descript { width: 618px !important; white-space: normal !important; font-size: 14px; line-height: 19px}
.procedure-info h1 { margin-bottom: 14px }
.cal-box a {color: #2F3E46 !important; text-decoration: none; cursor: pointer }
.doc-info { margin-top: 16px }
.doc-caption { margin-top: 2px !important; margin-bottom: 8px }
.procedure-info h1 { margin: 0 0 0.6em !important}
.loc-info { margin-top: -12px; padding-top: 18px !important }
.patient-welcome { margin-left: 1em }


/* SEGMENTED CONTROL STYLING */
#home-screen fieldset .ui-radio, 
#home-screen fieldset .ui-radio label {  width: 118px; text-align: center }
#home-screen fieldset { width: 352px; margin: 0 auto }
#home-screen div[data-role='fieldcontain'] { margin-top: 48px }

.appt-land fieldset .ui-radio, 
.appt-land fieldset .ui-radio label {  width: 200px; text-align: center }
.appt-land fieldset { width: 600px; margin: 0 auto }
.appt-land div[data-role='fieldcontain'] { margin-top: 48px }


/* FEEDBACK REVIEW STYLING */
.needs-review {
	background-color: #fff !important;
	opacity: .25 !important;
}

.feedback-container { width: 618px; white-space: normal; margin-left: 50%}
.procedure-info h2 { width: 618px !important; white-space: normal !important; text-align: center; color: #2F3E46 !important; margin-bottom: 1.8em }

.feedback-container a { color: #fff !important }

.feedback-button {
	-webkit-box-shadow: 1px 1px 1px 0px #3f426d;
	-moz-box-shadow: 1px 1px 1px 0px #3f426d;
	box-shadow: 1px 1px 1px 0px #3f426d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color 0s 0;
	-moz-transition: background-color 0s 0;
	-o-transition: background-color 0s 0;
	transition: background-color 0s 0;
	text-shadow: 0px -1px 1px #37363c;
	padding: 8px 0;
	display: inline-block;
	border-color: #333;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 200px;
	text-shadow: 0px -1px 1px #2c2c34;
}

.feedback-well { 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#A1D54E), color-stop(50%,#7DBE0E));
	margin-right: 1.5em;
}

.feedback-well:hover, .feedback-well:focus, .feedback-well:active { 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#7DBE0E), color-stop(50%,#A1D54E));
	margin-right: 1.5em;
}

.feedback-notwell { 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F65B40), color-stop(50%,#E83726));
}

.feedback-notwell:hover, .feedback-notwell:focus, .feedback-notwell:active { 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#E83726), color-stop(50%,#F65B40));
}




/* Popover Styling */

.popover {
	position:absolute;
	right:120px;
	top:42px;
	width:236px;
	margin:0 -118px;
	display: none;
}
    
.popover .popover-content {
	border:1px solid #000;
	position:relative;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	background-color: #575757;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#373737)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #575757, #373737); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #575757, #373737); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #575757, #373737); /* IE10 */
	background-image:      -o-linear-gradient(top, #575757, #373737); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #575757, #373737);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#575757', EndColorStr='#373737'); /* IE6-IE9 */
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37), 0px 6px 18px 0px rgba(0, 0, 0, 0.95);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37), 0px 6px 18px 0px rgba(0, 0, 0, 0.95);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37), 0px 6px 18px 0px rgba(0, 0, 0, 0.95);
	padding:5px;
}
    
.popover .popover-body {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #000;
	background:#fff;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4),inset 1px 1px 4px 0px rgba(0, 0, 0, 0.66);
	-moz-box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4),inset 1px 1px 4px 0px rgba(0, 0, 0, 0.66);
	box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.4),inset 1px 1px 4px 0px rgba(0, 0, 0, 0.66);
}
    
.popover .arrow {
	position:absolute;
	left:183px;
	top:-9px;
	width:25px;
	height:10px;
	overflow:hidden;
}
    
.popover .arrow span {
	display:block;
	width:14px;
	height:14px;
	background:red;
	-webkit-transform: rotate(45deg) skew(-10deg, -10deg);
	-webkit-transform: rotate(45deg) skew(-10deg, -10deg);  /* Saf3.1+, Chrome */
	   -moz-transform: rotate(45deg) skew(-10deg, -10deg);  /* FF3.5+ */
	    -ms-transform: rotate(45deg) skew(-10deg, -10deg);  /* IE9 */
	     -o-transform: rotate(45deg) skew(-10deg, -10deg);  /* Opera 10.5 */
	        transform: rotate(45deg) skew(-10deg, -10deg);  
	           filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */ 
	                   M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
	             zoom: 1;
	margin:1px 0 0 4px;
	background:#575757;
	border-left:1px solid #000;
	border-top:1px solid #000;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
	box-shadow: inset 1px 1px 1px 0px rgba(255, 255, 255, 0.37);
}
    
.popover .popover-body ul {
	margin:0;
	padding:0;
}
    
.popover .popover-body ul li {
	 border-bottom:1px solid rgba(0, 0, 0, 0.1);
	 list-style-type:none;
	 padding:0;
	 margin:0;
	 font-weight:bold;
	 font-size:16px;
	 line-height:46px;
	 padding:0 0 0 0px;
	 font-family:'helvetica neue', helvetica, arial, sans-serif;
}
    
.popover .popover-body ul li:last-child {
	border-bottom:0;
}

.popover-body ul li a {
	display:block;
	color: #2F3E46;
	text-decoration: none;
	text-shadow: 0 1px 1px #fff;
	padding-left: 15px;
}

.popover-body ul li a:hover, .popover-body ul li a:focus, .popover-body ul li a:active {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #376FD4), color-stop(0.5, #417FE7), color-stop(0.49, #4C88E9), color-stop(1, #73A8FB) );
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5) inset;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
}

/* Call Us Prompts Overrides */
#callus-container {
	position: fixed;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	opacity: 0.9;
}

#simplemodal-overlay {
	background-color: #000;
	opacity: 1;
}

#callus-container a[title='Close'] { visibility: hidden }
#callus-promptbody { position: relative !important; margin: 17px auto 0 !important; padding: 0.95em !important }
.prompt-buttons a { float: left; width: 45% !important; color: #fff !important; text-decoration: none !important }
#callus-promptbody p, #callus-prompthead .ui-title, #callus-promptbody .ui-btn-text { color: #fff !important; text-shadow: 0 1px 0 #4C596A; text-align: center }
#callus-promptbody .prompt-buttons { margin: 0 auto; width: 98% }
#callus-no { margin-right: 1em; margin-left: 0.75em }
#callus-promptbody { padding-top: 0 !important; margin-top: -16px !important}

#callus-prompthead {
	background-color: #162344 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d667d), color-stop(90%,#3a4561)) !important;
	width: 100%;
	height: 40px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	border-top-right-radius: .6em;
	border-top-left-radius: .6em;
	border-bottom-right-radius: 170px 20px;
	border-bottom-left-radius: 170px 20px;
	margin-right: 0 !important;
	padding: 0 !important;
	top: 0px;
	color: #fff;
	text-shadow: 0px -1px 1px #37363c;
}

#callus-promptbody {
	-moz-border-radius-bottomleft: .6em;
	-webkit-border-bottom-left-radius: .6em;
	border-bottom-left-radius: .6em;
	
	-moz-border-radius-bottomright: .6em;
	-webkit-border-bottom-right-radius: .6em;
	border-bottom-right-radius: .6em;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.prompt-buttons { margin-top: 22px; }

.alert-button {   
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#464972), color-stop(50%,#212555));
	background: -moz-linear-gradient(center top, #464972 50%, #212555 50%);
	-webkit-box-shadow: 1px 1px 1px 0px #3f426d;
	-moz-box-shadow: 1px 1px 1px 0px #3f426d;
	box-shadow: 1px 1px 1px 0px #3f426d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color 0s 0;
	-moz-transition: background-color 0s 0;
	-o-transition: background-color 0s 0;
	transition: background-color 0s 0;
	text-shadow: 0px -1px 1px #37363c;
	padding: 8px 0;
	display: inline-block;
	border-color: #333;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.alert-button:active {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#9698af), color-stop(50%,#50547a));
	background: -moz-linear-gradient(center top, #9698af 50%, #50547a 50%);
	text-shadow: 0px -1px 1px #2c2c34;
}

.alert-button-lighter { 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#9698af), color-stop(50%,#50547a));
   background: -moz-linear-gradient(center top, #9698af 50%, #50547a 50%);
	-webkit-box-shadow: 1px 1px 1px 0px #3f426d;
	-moz-box-shadow: 1px 1px 1px 0px #3f426d;
	box-shadow: 1px 1px 1px 0px #3f426d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background-color 0s 0;
	-moz-transition: background-color 0s 0;
	-o-transition: background-color 0s 0;
	transition: background-color 0s 0;
   text-shadow: 0px -1px 1px #2c2c34;
	padding: 8px 0;
	display: inline-block;
	border-color: #333;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

#callus-container { 
	 font-family:'helvetica neue', helvetica, arial, sans-serif;
	max-width: 100% !important;
	background: #162344 !important;
 	border: 2px solid #dfe1e6;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border-radius: .6em
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	height: 140px;
}





/* Feedback Prompts Overrides */

#feedback-container {
	position: fixed;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	opacity: 0.9;
	max-width: 100% !important;
	background: #162344 !important;
 	border: 2px solid #dfe1e6;
	-moz-border-radius: .6em;
	-webkit-border-radius: .6em;
	border-radius: .6em
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	height: 140px;
}

#feedback-container a[title='Close'] { visibility: hidden }
#feedback-promptbody { position: relative !important; margin: 17px auto 0 !important; padding: 0.95em !important }
.prompt-buttons a { float: left; width: 45% !important; color: #fff !important; text-decoration: none !important }
#feedback-promptbody p, #feedback-prompthead .ui-title, #feedback-promptbody .ui-btn-text { color: #fff !important; text-shadow: 0 1px 0 #4C596A; text-align: center }
#feedback-promptbody .prompt-buttons { margin: 0 auto; width: 98% }
#fbprompt-type { margin-right: 1em; margin-left: 0.75em }
#feedback-promptbody { padding-top: 0 !important; margin-top: -16px !important}

#feedback-prompthead {
	background-color: #162344 !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d667d), color-stop(90%,#3a4561)) !important;
	width: 100%;
	height: 40px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	border-top-right-radius: .6em;
	border-top-left-radius: .6em;
	border-bottom-right-radius: 170px 20px;
	border-bottom-left-radius: 170px 20px;
	margin-right: 0 !important;
	padding: 0 !important;
	top: 0px;
	color: #fff;
	text-shadow: 0px -1px 1px #37363c;
}

#feedback-promptbody {
	-moz-border-radius-bottomleft: .6em;
	-webkit-border-bottom-left-radius: .6em;
	border-bottom-left-radius: .6em;
	
	-moz-border-radius-bottomright: .6em;
	-webkit-border-bottom-right-radius: .6em;
	border-bottom-right-radius: .6em;

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}


/* MISC */


.loc-info {
	padding-top: 27px;
}
.procedure-info {
	padding-top: 15px;
}
.procedure-info p{
	overflow: visible;
}
.doc-info {
	text-align: right;
}
.doc-info caption {
	display: block;
	font-size: 12px;
}